body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Title */

#title{
  background-color: #ff4c68;
  text-align: left;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  color:white;
}



.container-fluid{
  padding:3% 15% 7%;
}


.title-image{
  transform:rotate(25deg);
  width:60%;
  position: absolute;
  right:30%;
}

/* Features */

#features{
  background-color: white;
  z-index: 1;
  position:relative;
}

/* Navigation bar */
.navbar{
  padding:0 0 4.5rem;
}


.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding:0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}

/* Dowload Button */

.download-button{
  margin:10% 3% 5% 0;
}

/* Features */

#features{
  padding: 7% 15%;
}

.sub-div{
  padding:4.5%;
}
.features-icon{
  color:#ef8172;
  font-size: 40px;
  margin-bottom: 1rem;
}

.features-icon:hover{
  color:#ff4c68;
}

.heading-size{
  font-size: 1.5rem;
}

.sub-heading{
  color:#8f8f8f;
}

/* Testimonials */

#testimonials{
  background-color:#ff4c68;
  color:#fff;
}

#press{
  background-color:#ff4c68;
  padding-bottom: 3%;
}

.carousel-item{
  padding: 7% 15%;
}

h2{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width:10%;
  margin: 20px;
  border-radius: 100%;
}

.press-logo{
  width:15%;
  margin:20px 20px 20px 50px;
}

/* Pricing section */

#pricing{
  padding:100px;
}

.pricing-column{
  padding: 3% 2%;
}

/* Call to Action */

#cta{
  background-color:#ff4c68;
}

.header-color{
  color:white;
  margin: 0 32% 0;
  padding-top: 6%;
}

.buttons{
  margin-top: 60px;
  margin-bottom:60px;
}

/* Footer */

#footer{
  background-color: #fff;
  line-height: 3;
  padding: 30px;

}

.copyright{
  color:#8f8f8f;
}

.icons{
  margin:10px;
}


/* Media Query */
@media (max-width:991px) {

  #title{
    text-align:center;
  }
  .title-image{
    position:static;
    transform: rotate(0);
  }

}
